@page
@using JawdaProductCRUD.Localization
@using JawdaProductCRUD.Web.Pages.Categories
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model EditModalModel
@inject IStringLocalizer<JawdaProductCRUDResource> L
@{
    Layout = null;
}
<form asp-page="/Categories/EditModal">
    <abp-modal>
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Category.Id" />
            <abp-input asp-for="Category.title" />
           
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
