@page
@using JawdaProductCRUD.Localization
@using JawdaProductCRUD.Web.Pages.Products
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model CreateModalModel
@inject IStringLocalizer<JawdaProductCRUDResource> L
@{
    Layout = null;
}
<form asp-page="/Products/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["NewProduct"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Product.title" />
            <abp-input asp-for="Product.description" />
            <abp-input asp-for="Product.picture" />
            <abp-input asp-for="Product.price" />
            <abp-select  asp-for="Product.CategoryID" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
